<div class="control-container">
  <div class="arrows-container">
    <button mat-fab color="primary" (click)="backward()" reset>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="pay-container">
      <button *ngIf="selectedItem" mat-raised-button [disabled]="selectedItem.quantity <= 0" color="primary"
              (click)="pay()" reset>
        <mat-icon>paid</mat-icon>
        Pay {{selectedItem.price | currency }}
      </button>
      <div *ngIf="!selectedItem">Please select</div>
    </div>
    <button mat-fab color="primary" (click)="forward()" reset>
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <div class="pay-container">
      <button *ngIf="selectedItem" mat-raised-button color="warn" (click)="cancel()" reset>
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
</div>
